<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="url" value="jdbc:sqlite:folder.sqlite"/>
    </bean>

    <bean id="fileJDBCTemplate"
          class="com.dmipoddubko.fileSystemStatistic.dao.FileDAOImpl">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <bean id="FolderDataTest"
          class="com.dmipoddubko.fileSystemStatistic.folderData.FolderDataImpl">
        <constructor-arg index="0" value="some_file.txt"/>
        <constructor-arg index="1" value="C:\SomeFolder"/>
        <constructor-arg index="2" value="file"/>
        <constructor-arg index="3" value="777"/>
        <constructor-arg index="4" value="1"/>
    </bean>
    <bean id="VisitFolderTest"
          class="com.dmipoddubko.fileSystemStatistic.visit.VisitFolderImpl">
    </bean>
</beans>

